# Distributed Computing - Project 1

## 1.Prepare Environment

### 1.1 Install Java, Pyspark and Spark NLP

In [ ]:
import os

!apt-get update -qq
!apt-get install -y openjdk-8-jdk-headless -qq

#Install Java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["PATH"] = os.environ["JAVA_HOME"] + "/bin:" + os.environ["PATH"]
! java -version

Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 156210 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u312-b07-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u312-b07-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode
openjdk version "1.8.0_312"
OpenJDK Runtime Environment (build 1.8.0_312-8u312-b07-0ubuntu1~18.04-b07)
OpenJDK 64-Bit Server VM (build 25.312-b07, mixed mode)

In [ ]:
#Install Pyspark
! pip install --ignore-installed pyspark==2.4.4

#Install Spark NLP
! pip install --ignore-installed spark-nlp==2.6.2

Collecting pyspark==2.4.4
  Downloading pyspark-2.4.4.tar.gz (215.7 MB)
     |████████████████████████████████| 215.7 MB 54 kB/s
Collecting py4j==0.10.7
  Downloading py4j-0.10.7-py2.py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 19.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.4-py2.py3-none-any.whl size=216130392 sha256=d81ed20f93c5df3a15d9af8f0ca4e38bf5c6435ac758fbe85db20bba06bb4f5f
  Stored in directory: /root/.cache/pip/wheels/11/48/19/c3b6b66e4575c164407a83bc065179904ddc33c9d6500846f0
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.4
Collecting spark-nlp==2.6.2
  Downloading spark_nlp-2.6.2-py2.py3-none-any.whl (128 kB)
     |████████████████████████████████| 128 kB 8.1 MB/s
Installing collected packages: spark-nlp
Successfully installed spark-nlp-2.6.2

###1.2 Start  Spark Session

In [ ]:
import sparknlp
spark = sparknlp.start()

from pyspark.ml import Pipeline
from sparknlp.annotator import *
from sparknlp.common import *
from sparknlp.base import *

## 2.Get Classics Corpus

### 2.1 Convert txt files into Python Dataframe

In [ ]:
import pandas as pd
import os
import re

In [ ]:
directory ="/content/drive/MyDrive/Distributed-Computing/data/classic_literature/" #Change according to path
text_type = 'C'

classics_df = pd.DataFrame(columns=['id', 'type', 'text'])

for filename in os.listdir(directory):
#filename = "data/classic_literature/45.txt"
    file_ext = os.path.basename(filename).rsplit('.',1)[1] #Get file extension
    if file_ext == "txt":
        with open(directory + '/' + filename, 'r') as file:
            text_id = os.path.basename(filename).rsplit('.',1)[0]
            corpus = file.read()
            corpus = re.sub(';', ' ', corpus)
            corpus = corpus.replace('Chapter', '')
            classics_df.loc[len(classics_df.index)] = [text_id, text_type, corpus]

In [ ]:
classics_df

     id type                                               text
0   514    C  \n\n\n\nLITTLE WOMEN\n\n\nby\n\nLouisa May Alc...
1    45    C  \n\n\n\n\n                  ANNE OF GREEN GABL...
2   768    C  \n\n\n\nTranscribed from the 1910 John Murray ...
3  1260    C  \n\n\n\n\nTranscribed from the 1897 Service & ...
4   145    C  \n\n\n\n\n\n\n\n\n\n\n\n\n\n\nMiddlemarch\n\n\...
5  1342    C  \n\n\n\n\nPRIDE AND PREJUDICE\n\nBy Jane Auste...
6   113    C  \n\n\n\n\n\n\n\n\n\n\nIn Honor of Lisa Hart's ...
7  1905    C  \n\n\n\n\nTHE GOVERNESS \n\nOR, THE LITTLE FEM...

### 2.2 Convert Python Dataframe into Spark Dataframe

In [ ]:
import re
import pyspark
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SQLContext

#sc =  pyspark.SparkContext("local[*]", "Test Context")
sqlContext = SQLContext(spark)

In [ ]:
df_Spark_classics = sqlContext.createDataFrame(classics_df) #Pyspark SQL dataframe

In [ ]:
#df_Spark_classics.show()

## 3.Get Fanfictions Corpus

### 3.1 Convert txt files into Python Dataframe

In [ ]:
directory ="/content/drive/MyDrive/Distributed-Computing/data/fanfiction/" #Change according to path
text_type = 'F'

fanfictions_df = pd.DataFrame(columns=['id', 'type', 'text'])

for filename in os.listdir(directory):
    file_ext = os.path.basename(filename).rsplit('.',1)[1] #Get file extension
    if file_ext == "txt":
        with open(directory + '/' + filename, 'r') as file:
            text_id = os.path.basename(filename).rsplit('.',1)[0]
            corpus = file.read()
            corpus = corpus.replace('Chapter', '')
            corpus = re.sub(';', ' ', corpus)
            fanfictions_df.loc[len(fanfictions_df.index)] = [text_id, text_type, corpus]

In [ ]:
fanfictions_df

                id type                                               text
0   fanfic_7441657    F   1\nPrologue\nOctober 31, 1981\nThe view out t...
1  fanfic_33183868    F   1\n \n\n \n\nThere was something luminescent ...
2  fanfic_35367502    F   1\n“Lily there’s a boy at the door!”\nThe gin...
3  fanfic_23824330    F   1\nAmy sits facing the window of her room. He...
4  fanfic_24025603    F   1\nDisclaimer: I, by no means, claim to own a...
5   fanfic_1536152    F   1\nGoing back was the worst.I had hoped that,...
6   fanfic_8523001    F   1\nThere was such a cultural veil of secrecy ...
7  fanfic_25042705    F   1\n“But, really,” said Mrs. Bennet rather lou...
8  fanfic_36819574    F   1\nI was born in sunlight, and dragged into d...

### 3.2 Convert Python Dataframe into Spark Dataframe

In [ ]:
df_Spark_fanfictions = sqlContext.createDataFrame(fanfictions_df) #Pyspark SQL dataframe

## 4 Preprocess Texts

### 4.1 Create Preprocessing Pipeline

Create pipeline to preprocess the spark dataframe texts.

Each of these classes receive an input column and creates the output column.
At the end of the pipeline, we will have a dataframe with all of the columns that are created on the fly and their results.

The **last column** generated, in this case **token_features** is the one that has all the words after being preprocessed, removing stop words, etc.

In [ ]:
#https://medium.com/spark-nlp/spark-nlp-101-document-assembler-500018f5f6b5
document = DocumentAssembler()\
    .setInputCol("text")\
    .setOutputCol("document") \
    .setCleanupMode("shrink_full") #remove new lines and tabs, plus shrinking spaces and blank lines.

#We dont need this because when preprocessing, the test ends up being one sentence
sentence = SentenceDetector()\
    .setInputCols(['document'])\
    .setOutputCol('sentence')

#https://nlp.johnsnowlabs.com/api/python/reference/autosummary/sparknlp.annotator.Tokenizer.html
token = Tokenizer()\
    .setInputCols(['sentence'])\
    .setOutputCol('token')

#https://nlp.johnsnowlabs.com/docs/en/annotators
normalizer = Normalizer() \
    .setInputCols(["token"]) \
    .setOutputCol("normalized") \
    .setLowercase(True) \
    .setCleanupPatterns(["""[^A-Za-z]"""]) # remove punctuations and alphanumeric chars

#Stop words used by Spark NLP: http://ir.dcs.gla.ac.uk/resources/linguistic_utils/stop_words
#https://colab.research.google.com/github/JohnSnowLabs/spark-nlp-workshop/blob/b2eb08610dd49d5b15077cc499a94b4ec1e8b861/jupyter/annotation/english/stop-words/StopWordsCleaner.ipynb#scrollTo=1-eGocORg2ml
stop_words = StopWordsCleaner.pretrained('stopwords_en', 'en')\
    .setInputCols(["normalized"]) \
    .setOutputCol("cleanTokens") \
    .setCaseSensitive(False)

#https://nlp.johnsnowlabs.com/api/com/johnsnowlabs/nlp/annotators/LemmatizerModel.html
lemmatizer = LemmatizerModel.pretrained() \
         .setInputCols(["cleanTokens"]) \
         .setOutputCol("lemma")

finisher = Finisher() \
    .setInputCols(["lemma"]) \
    .setOutputCols(["token_features"]) \
    .setOutputAsArray(True) \
    .setCleanAnnotations(False)

stopwords_en download started this may take some time.
Approximate size to download 2.9 KB
[OK!]
lemma_antbnc download started this may take some time.
Approximate size to download 907.6 KB
[OK!]

In [ ]:
nlp_pipeline_lr = Pipeline(
        stages=[document, 
                sentence,
                token,
                normalizer,
                stop_words, 
                lemmatizer, 
                finisher])

### 4.2 Apply Pipeline to Spark Dataframes

#### 4.2.1 Classics

In [ ]:
processed_classics_df = nlp_pipeline_lr.fit(df_Spark_classics).transform(df_Spark_classics)

In [ ]:
#Do not execute the line below - Takes long and the output is very big.
#Execute next cell instead, which only includes the result of interest: Token features

#processed_classics_df.show(truncate=200) #Show results

In [ ]:
#Show Token Features column
processed_classics_df.select("token_features").show(truncate=200)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                          token_features|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[woman, louisa, alcott, content, part, play, pilgrim, merry, christmas, laurence, boy, burden, neighborly, beth, find, palace, beautiful, amy, valley, humiliation, jo, meet, apollyon, meg, vanity, ...|
|[anne, green, gable, lucy, maud, montgomery, table, content, chapter, mrs, rachel, lynde, surprise, chapter, ii, matthew, cuthbert, surprise, chapter, iii, marilla, cuthbert, surprise, chapter, iv,...|
|[transcribe, john, murray, edition, david, price, email, ccxpglaforg, wuthering, height, chapter, return, visit, landlordthe, solitary, neighbour, trouble, beautiful, country, england, fix, situati...|
|[transcribe, service, paton, edition, david, price, email, ccxpglaforg, jane, eyre, autobiography, charlotte, bronte, illustrate, townsend, london, service, paton, henrietta, street, illustration, ...|
|[middlemarch, george, eliot, york, boston, caldwell, company, publisher, dear, husband, george, henry, lewes, nineteenth, year, bless, union, content, book, chapter, chapter, ii, chapter, iii, chap...|
|[pride, prejudice, jane, austen, truth, universally, acknowledge, single, man, possession, good, fortune, wife, feelings, view, man, enter, neighbourhood, truth, fix, mind, surround, family, consid...|
|[honor, lisa, hart, birthday, secret, garden, frances, hodgson, burnett, author, shuttle, make, marchioness, method, lady, walderhurst, lass, lowries, administration, lord, fauntleroy, lady, qualit...|
|[governess, female, academy, sarah, field, live, northern, part, england, gentlewoman, undertake, education, young, lady, trust, endeavour, faithfully, discharge, instruct, commit, care, read, writ...|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

#### 4.2.2 Fanfictions

In [ ]:
processed_fanfictions_df = nlp_pipeline_lr.fit(df_Spark_fanfictions).transform(df_Spark_fanfictions)

In [ ]:
processed_fanfictions_df.select("token_features").show(truncate=200)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                          token_features|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[prologue, october, view, window, dark, moon, day, sliver, white, show, sky, electric, light, window, look, small, rear, yard, shelter, streetlight, traffic, enclose, buildings, fence, small, room,...|
|[luminescent, susie, draw, noelles, eye, walk, hallway, susie, step, noelle, deer, want, desperately, close, distance, eye, ahead, couldnt, steal, glance, girl, walk, steal, glance, susie, notice, ...|
|[lily, boy, door, ginger, haired, girl, quickly, shoulder, sister, back, glass, front, door, boy, curly, dark, brown, black, hair, hard, dark, past, large, round, glass, hair, bit, messy, fall, ear...|
|[amy, sit, face, window, room, phone, prop, desk, litter, wide, sheet, art, paper, pencil, color, amy, phone, amy, marena, fancy, artist, amy, face, fall, dramatically, tone, turn, sharply, sarcast...|
|[disclaimer, mean, claim, remotely, relate, glee, pitch, perfect, universe, copyright, infringement, intend, chloe, beale, expect, senior, year, high, school, start, true, young, didnt, give, think...|
|[back, worsti, hope, case, i, id, move, school, luck, trip, locker, positive, consequence, whatsoever, back, school, month, iti, force, foot, push, class, door, opendont, give, satisfaction, tell, ...|
|[cultural, veil, secrecy, draw, soulmark, miss, elizabeth, bennett, visit, mrs, charlotte, collins, ne, lucas, kent, charlotte, ribbon, glove, bracelet, sleeve, leave, wrist, blank, elizabeth, asto...|
|[mrs, bennet, loudly, place, teacup, back, saucer, loud, clink, young, man, income, search, wife, waste, money, spend, child, wife, mrs, lucas, nod, agreement, reach, hand, touch, brim, wide, hat, ...|
|[bear, sunlight, drag, darkness, child, pure, cursedi, watch, woman, love, wither, front, close, eye, truth, order, avoid, pain, itand, father, move, life, indulge, part, sort, debauchery, money, c...|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

------------------------------------------------------------------------------------------------------------

At this point we have two preprocessed Spark Dataframes where each row belongs two one book. The column of interest is **"token_features"**, which contains all the **tokens** of the corpus.

1.   **processed_classics_df**: Contains the eiight classics (one per row)
2.   **processed_fanfictions_df**: Contains the eiight fanfictions (one per row)

--> From here, we can start doing additional processing like TF-IDF or other stuff to obtain the information we want.